//- main#main
section#about.about
	.container
		.row.no-gutters
			.image.col-xl-5.d-flex.align-items-stretch.justify-content-center.justify-content-lg-start
			.col-xl-7.ps-0.ps-lg-5.pe-lg-1.d-flex.align-items-stretch
				.content.d-flex.flex-column.justify-content-center
					h3 CHEN PEI XI(Lucy)
					p
						| 私立中国文化大学メディアデジタルデザイン学科夜間部卒業。主にマルチメディアデザインとアニメーションを専攻し、デジタルメディア系のカリキュラムを学ぶだけでなく、（1）マルチメディアウェブデザイン、（2）レイアウト計画とデザイン、（3）映像後処理制作など、総合的なデザイン分野にわたる関連コースを修了しました。
					.row
						.col-md-6.d-md-flex.align-items-md-stretch
							.count-box
								i.bi.bi-emoji-smile
								span.purecounter(data-purecounter-start='0' data-purecounter-end='100' data-purecounter-duration='0') 100
								p
									strong 点の協力と90点の忍耐で
									| 、顧客、同僚、他部門とのデザイン理念のコミュニケーションを行っています。
						.col-md-6.d-md-flex.align-items-md-stretch
							.count-box
								i.bi.bi-journal-richtext
								span.purecounter(data-purecounter-start='0' data-purecounter-end='10' data-purecounter-duration='0') 10
								p
									strong 件以上
									| 因突発的な要因により、急な作業依頼が発生し、コミュニケーションと調整を行い、適切な作業方法で最終的に完了。仕事の達成感を得ました。
						.col-md-6.d-md-flex.align-items-md-stretch
							.count-box
								i.bi.bi-clock
								span.purecounter(data-purecounter-start='0' data-purecounter-end='7' data-purecounter-duration='0') 7
								p
									strong 年間のデザイン経験
									| 、デザイン会社、旅行業、ゲーム業界などで、仮想・実体の宣伝デザインを手掛けました。