header#header(class="d-flex align-items-center")
	div(class="container d-flex align-items-center justify-content-between")
	.logo
		h1
			a(href="index.html") Lucy's Resume

	nav#navbar.navbar
		ul
			li
				a(class="nav-link scrollto active" href="#mypersonal") Home
			li
				a(class="nav-link scrollto active" href="#about") About
			li
				a(class="nav-link scrollto active" href="#resume") Resume
			li
				a(class="nav-link scrollto active" href="#portfolio") ウェブデザイン
			li
				a(class="nav-link scrollto active" href="#portfolio-ad") マーケティング広告
			//- li
			//- 	a(class="nav-link scrollto active" href="#portfolio-mv") 映像編集
			li
				a(class="nav-link scrollto active" href="#portfolio-card") 印刷物出力
		i(class="bi bi-list mobile-nav-toggle")
