section#mypersonal.d-flex.flex-column.align-items-center.justify-content-center(style='visibility: visible;animation-name: animatedBackground;')
	h1 Hi, I'm Lucy!
	h2 I am a Web designer
	a.btn-get-started.scrollto(href='#about')
		i.bi.bi-chevron-double-down