section#portfolio-mv(class="portfolio section-bg")
	.container
		.section-title
			h2 Project Portfolio-影音剪輯
			div(class="row portfolio-container")
				div(class="col-lg-4 col-md-6 portfolio-item filter-mov")
					.portfolio-wrap
						img.img-fluid(src="./images/portfolio/portfolio-34.jpg")
						.portfolio-info
							h4 行銷廣告影片
							p 影音剪輯製作

						.portfolio-links
							a.portfolio-lightbox(href="./images/portfolio/portfolio-34.jpg")
								span.material-icons search
							a(href="https://drive.google.com/file/d/1aFEmXRWXZOrurPLPkje0Lm9lhuxMluNN/view?usp=sharing" title="More Details")
								i(class="bx bx-link")

				div(class="col-lg-4 col-md-6 portfolio-item filter-mov")
					.portfolio-wrap
						img.img-fluid(src="./images/portfolio/portfolio-35.jpg")
						.portfolio-info
							h4 行銷廣告影片
							p 影音剪輯製作

						.portfolio-links
							a.portfolio-lightbox(href="./images/portfolio/portfolio-35.jpg")
								span.material-icons search
							a(href="https://drive.google.com/file/d/1IjK73PCGYeufIa3A938XVvrMRngqMcbv/view?usp=sharing" title="More Details")
								i(class="bx bx-link")
		
		<div class="col-lg-4 col-md-6 portfolio-item filter-mov">
		<div class="portfolio-wrap">
		<img src="./images/portfolio/portfolio-36.jpg" class="img-fluid" alt="">
		<div class="portfolio-info">
		<h4>行銷廣告影片</h4>
		<p>影音剪輯製作</p>
		</div>
		<div class="portfolio-links">
		<a href="./images/portfolio/portfolio-36.jpg" class="portfolio-lightbox"><span class="material-icons">search</span></a>
		<a href="https://drive.google.com/file/d/1IjK73PCGYeufIa3A938XVvrMRngqMcbv/view?usp=sharing" title="More Details"><i class="bx bx-link"></i></a>
		</div>
		</div>
		</div>
		<div class="col-lg-4 col-md-6 portfolio-item filter-mov">
		<div class="portfolio-wrap">
		<img src="./images/portfolio/portfolio-37.jpg" class="img-fluid" alt="">
		<div class="portfolio-info">
		<h4>行銷廣告影片</h4>
		<p>影音剪輯製作</p>
		</div>
		<div class="portfolio-links">
		<a href="./images/portfolio/portfolio-37.jpg" class="portfolio-lightbox"><span class="material-icons">search</span></a>
		<a href="https://drive.google.com/file/d/13KDGTXcf0TONZ4uIvmvOrb8wKEzCc9x_/view?usp=sharing" title="More Details"><i class="bx bx-link"></i></a>
		</div>
		</div>
		</div>
		<div class="col-lg-4 col-md-6 portfolio-item filter-mov">
		<div class="portfolio-wrap">
		<img src="./images/portfolio/portfolio-38.jpg" class="img-fluid" alt="">
		<div class="portfolio-info">
		<h4>行銷廣告影片</h4>
		<p>影音剪輯製作</p>
		</div>
		<div class="portfolio-links">
		<a href="./images/portfolio/portfolio-38.jpg" class="portfolio-lightbox"><span class="material-icons">search</span></a>
		<a href="https://drive.google.com/file/d/1CqB60nhdKIckDa8kWEGOnOFX16R0LB8u/view?usp=sharing" title="More Details"><i class="bx bx-link"></i></a>
		</div>
		</div>
		</div>
		<div class="col-lg-4 col-md-6 portfolio-item filter-mov">
		<div class="portfolio-wrap">
		<img src="./images/portfolio/portfolio-39.jpg" class="img-fluid" alt="">
		<div class="portfolio-info">
		<h4>行銷廣告影片</h4>
		<p>影音剪輯製作</p>
		</div>
		<div class="portfolio-links">
		<a href="./images/portfolio/portfolio-39.jpg" class="portfolio-lightbox"><span class="material-icons">search</span></a>
		<a href="https://drive.google.com/file/d/1vbKYwkqrxOUY8Z2Wf6XlMkMzeNma8lPq/view?usp=sharing" title="More Details"><i class="bx bx-link"></i></a>