section#portfolio.portfolio.section-bg
	.container
		.section-title
			h2 Project Portfolio-ウェブデザイン
		.row.portfolio-container(style='position: relative; height: 780px;')
			.col-lg-4.col-md-6.portfolio-item.filter-web(style='position: absolute; left: 0px; top: 0px;')
				.portfolio-wrap
					img.img-fluid(src='./images/portfolio/portfolio-sakura.jpg' alt='')
					.portfolio-info
						h4 彩虹島物語x庫洛魔法使：透明牌篇宣伝LP
						p レスポンシブウェブサイト
					.portfolio-links
						a.portfolio-lightbox(href='./images/portfolio/portfolio-sakura.jpg')
							span.material-icons search
						a(href='https://landing.mangot5.com/template/la/event/241219_LaTaleOnline_x_CardcaptorSakura/index.html' title='More Details')
							i.bx.bx-link
			.col-lg-4.col-md-6.portfolio-item.filter-web(style='position: absolute; left: 0px; top: 0px;')
				.portfolio-wrap
					img.img-fluid(src='./images/portfolio/portfolio-black_s7.jpg' alt='')
					.portfolio-info
						h4 AU勁舞團Black_s7宣伝LP
						p レスポンシブウェブサイト
					.portfolio-links
						a.portfolio-lightbox(href='./images/portfolio/portfolio-black_s7.jpg')
							span.material-icons search
						a(href='https://landing.mangot5.com/template/au/event/241023_StarrySkyDanceParty/index.html' title='More Details')
							i.bx.bx-link
			.col-lg-4.col-md-6.portfolio-item.filter-web(style='position: absolute; left: 0px; top: 0px;')
				.portfolio-wrap
					img.img-fluid(src='./images/portfolio/portfolio-hot01.jpg' alt='')
					.portfolio-info
						h4 熱血江湖遊戲宣伝LP
						p レスポンシブウェブサイト
					.portfolio-links
						a.portfolio-lightbox(href='./images/portfolio/portfolio-hot01.jpg')
							span.material-icons search
						a(href='https://landing.mangot5.com/template/hot/event/240711_swordemperor/index.html' title='More Details')
							i.bx.bx-link
			.col-lg-4.col-md-6.portfolio-item.filter-web(style='position: absolute; left: 0px; top: 0px;')
				.portfolio-wrap
					img.img-fluid(src='./images/portfolio/portfolio-12Sky2Ori_01.jpg' alt='')
					.portfolio-info
						h4 12之天2Ori新サーバー宣伝LP
						p レスポンシブウェブサイト
					.portfolio-links
						a.portfolio-lightbox(href='./images/portfolio/portfolio-12Sky2Ori_01.jpg')
							span.material-icons search
						a(href='https://landing.mangot5.com/template/12sky2ori/event/240509_stormlegend/index.html' title='More Details')
							i.bx.bx-link
			.col-lg-4.col-md-6.portfolio-item.filter-web(style='position: absolute; left: 0px; top: 0px;')
				.portfolio-wrap
					img.img-fluid(src='./images/portfolio/portfolio-12Sky2Ori_02.jpg' alt='')
					.portfolio-info
						h4 12之天2Oriサーバーの改訂宣伝LP
						p レスポンシブウェブサイト
					.portfolio-links
						a.portfolio-lightbox(href='./images/portfolio/portfolio-12Sky2Ori_02.jpg')
							span.material-icons search
						a(href='https://landing.mangot5.com/template/12sky2ori/event/240905_divineveins/index.html' title='More Details')
							i.bx.bx-link
			.col-lg-4.col-md-6.portfolio-item.filter-web(style='position: absolute; left: 0px; top: 0px;')
				.portfolio-wrap
					img.img-fluid(src='./images/portfolio/portfolio-12Sky2Ori_03.jpg' alt='')
					.portfolio-info
						h4 『十二之天2 Ori』新マップ更新LP
						p レスポンシブウェブサイト
					.portfolio-links
						a.portfolio-lightbox(href='./images/portfolio/portfolio-12Sky2Ori_03.jpg')
							span.material-icons search
						a(href='https://landing.mangot5.com/template/12sky2ori/event/241107_DragonWars/index.html' title='More Details')
							i.bx.bx-link
			.col-lg-4.col-md-6.portfolio-item.filter-web(style='position: absolute; left: 0px; top: 0px;')
				.portfolio-wrap
					img.img-fluid(src='./images/portfolio/portfolio-la01.png' alt='')
					.portfolio-info
						h4 『レインボーアイランド』LP
						p レスポンシブウェブサイト
					.portfolio-links
						a.portfolio-lightbox(href='./images/portfolio/portfolio-la01.png')
							span.material-icons search
						a(href='https://landing.mangot5.com/template/la/event/240412_universe/index.html' title='More Details')
							i.bx.bx-link
			.col-lg-4.col-md-6.portfolio-item.filter-web(style='position: absolute; left: 0px; top: 0px;')
				.portfolio-wrap
					img.img-fluid(src='./images/portfolio/portfolio-30.jpg' alt='')
					.portfolio-info
						h4 『十二之天2 Ori』ゲームLP
						p レスポンシブウェブサイト
					.portfolio-links
						a.portfolio-lightbox(href='./images/portfolio/portfolio-30.jpg')
							span.material-icons search
						a(href='https://landing.mangot5.com/template/12sky2ori/event/220506_2years/index.html' title='More Details')
							i.bx.bx-link
			.col-lg-4.col-md-6.portfolio-item.filter-web(style='position: absolute; left: 439.987px; top: 0px;')
				.portfolio-wrap
					img.img-fluid(src='./images/portfolio/portfolio-60.jpg' alt='')
					.portfolio-info
						h4 ゲームLP
						p レスポンシブウェブサイト
					.portfolio-links
						a.portfolio-lightbox(href='./images/portfolio/portfolio-60.jpg')
							span.material-icons search
						a(href='https://landing.mangot5.com/template/la/event/221006_puneuma/index.html' title='More Details')
							i.bx.bx-link
			.col-lg-4.col-md-6.portfolio-item.filter-web(style='position: absolute; left: 879.974px; top: 0px;')
				.portfolio-wrap
					img.img-fluid(src='./images/portfolio/portfolio-61.jpg' alt='')
					.portfolio-info
						h4 『十二之天2 Ori』ゲームLP
						p レスポンシブウェブサイト
					.portfolio-links
						a.portfolio-lightbox(href='./images/portfolio/portfolio-61.jpg')
							span.material-icons search
						a(href='https://landing.mangot5.com/template/12sky2ori/event/220801_kingevent/index.html' title='More Details')
							i.bx.bx-link
			.col-lg-4.col-md-6.portfolio-item.filter-web(style='position: absolute; left: 0px; top: 260px;')
				.portfolio-wrap
					img.img-fluid(src='./images/portfolio/portfolio-62.jpg' alt='')
					.portfolio-info
						h4 ゲームLP
						p レスポンシブウェブサイト
					.portfolio-links
						a.portfolio-lightbox(href='./images/portfolio/portfolio-62.jpg')
							span.material-icons search
						a(href='https://landing.mangot5.com/template/au/event/220621_quartet/index.html' title='More Details')
							i.bx.bx-link
			.col-lg-4.col-md-6.portfolio-item.filter-web(style='position: absolute; left: 439.987px; top: 260px;')
				.portfolio-wrap
					img.img-fluid(src='./images/portfolio/portfolio-63.jpg' alt='')
					.portfolio-info
						h4 ゲームLP
						p レスポンシブウェブサイト
					.portfolio-links
						a.portfolio-lightbox(href='./images/portfolio/portfolio-63.jpg')
							span.material-icons search
						a(href='https://landing.mangot5.com/template/aika/event/221004_Valhalla/index.html' title='More Details')
							i.bx.bx-link
			.col-lg-4.col-md-6.portfolio-item.filter-web(style='position: absolute; left: 879.974px; top: 260px;')
				.portfolio-wrap
					img.img-fluid(src='./images/portfolio/portfolio-28.jpg' alt='')
					.portfolio-info
						h4 『Audition（勁舞団）3v3』プロモーションLP
						p レスポンシブウェブサイト
					.portfolio-links
						a.portfolio-lightbox(href='./images/portfolio/portfolio-28.jpg')
							span.material-icons search
						a(href='https://landing.mangot5.com/template/au/event/221103_au_3v3contest/index.html' title='More Details')
							i.bx.bx-link
						//-  bx bx-link
			.col-lg-4.col-md-6.portfolio-item.filter-web(style='position: absolute; left: 0px; top: 520px;')
				.portfolio-wrap
					img.img-fluid(src='./images/portfolio/portfolio-29.jpg' alt='')
					.portfolio-info
						h4 ゲームLP
						p PC版レスポンシブWebデザイン
					.portfolio-links
						a.portfolio-lightbox(href='./images/portfolio/portfolio-29.jpg')
							span.material-icons search
						a(href='https://landing.hslw.fun/SAO/p/index.html' title='More Details')
							i.bx.bx-link
			.col-lg-4.col-md-6.portfolio-item.filter-web(style='position: absolute; left: 439.987px; top: 520px;')
				.portfolio-wrap
					img.img-fluid(src='./images/portfolio/portfolio-59.jpg' alt='')
					.portfolio-info
						h4 プラットフォームサイト
						p レスポンシブウェブサイト
					.portfolio-links
						a.portfolio-lightbox(href='./images/portfolio/portfolio-59.jpg')
							span.material-icons search
						a(href='https://landing.h18.site/H365.55comic/index.html' title='More Details')
							i.bx.bx-link
			.col-lg-4.col-md-6.portfolio-item.filter-web(style='position: absolute; left: 879.974px; top: 520px;')
				.portfolio-wrap
					img.img-fluid(src='./images/portfolio/portfolio-32.jpg' alt='')
					.portfolio-info
						h4 ゲームLP
						p モバイル版Webデザイン
					.portfolio-links
						a.portfolio-lightbox(href='./images/portfolio/portfolio-32.jpg')
							span.material-icons search
						a(href='https://landing.hslw.fun/SAO/m/index.html' title='More Details')
							i.bx.bx-link