section#portfolio-ad.portfolio.section-bg
	.container
		.section-title
			h2 Project Portfolio-マーケティング広告
			.row.portfolio-container
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-1.jpg' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 多サイズ制作
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-1.jpg')
								span.material-icons search

				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-2.jpg' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 多サイズ制作
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-2.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-3.jpg' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 多サイズ制作
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-3.jpg')
								span.material-icons search

				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-4.jpg' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 多サイズ制作
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-4.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-5.jpg' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 多サイズ制作
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-5.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-16.jpg' alt='')
						.portfolio-info
							h4 プラットフォームゲーム
							p ゲーム紹介バナー
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-16.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-17.jpg' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 多サイズ制作
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-17.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-18.jpg' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 多サイズ制作
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-18.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-19.jpg' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 多サイズ制作
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-19.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-20.jpg' alt='')
						.portfolio-info
							h4 広告チャネル宣伝
							p 広告宣伝バナー
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-20.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-21.jpg' alt='')
						.portfolio-info
							h4 広告チャネル宣伝
							p 広告宣伝バナー
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-21.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-22.jpg' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 広告宣伝バナー
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-22.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-23.jpg' alt='')
						.portfolio-info
							h4 プラットフォームゲーム
							p ゲーム紹介バナー
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-23.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-24.jpg' alt='')
						.portfolio-info
							h4 プラットフォームゲーム
							p ゲーム紹介バナー
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-24.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-25.jpg' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 多サイズ制作
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-25.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-6.gif' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 多サイズ制作
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-6.gif')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-7.gif' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 多サイズ制作
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-7.gif')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-8.jpg' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 多サイズ制作
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-8.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-9.gif' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 多サイズ制作
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-9.gif')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-27.gif' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 多サイズ制作
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-27.gif')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-10.gif' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 多サイズ制作
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-10.gif')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-26.gif' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 多サイズ制作
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-26.gif')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-13.jpg' alt='')
						.portfolio-info
							h4 広告チャネル宣伝
							p 広告宣伝バナー
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-13.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-14.jpg' alt='')
						.portfolio-info
							h4 広告チャネル宣伝
							p 広告宣伝バナー
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-14.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-15.jpg' alt='')
						.portfolio-info
							h4 広告チャネル宣伝
							p 広告宣伝バナー
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-15.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-64.jpg' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 広告宣伝バナー
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-64.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-65.jpg' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 広告宣伝バナー
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-65.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-40.jpg' alt='')
						.portfolio-info
							h4 ブランドサイトデザイン
							p PC視覚デザイン
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-40.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-41.jpg' alt='')
						.portfolio-info
							h4 ブランドサイトデザイン
							p モバイル視覚デザイン
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-41.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-42.jpg' alt='')
						.portfolio-info
							h4 ウェブサイトデザイン
							p 視覚デザイン
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-42.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-43.jpg' alt='')
						.portfolio-info
							h4 ウェブサイトデザイン
							p 視覚デザイン
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-43.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-44.jpg' alt='')
						.portfolio-info
							h4 ゲームインターフェースデザイン
							p 視覚デザイン
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-44.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-50.jpg' alt='')
						.portfolio-info
							h4 化粧品プロモーションデザイン
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-50.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-51.jpg' alt='')
						.portfolio-info
							h4 化粧品プロモーションデザイン
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-51.jpg')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-52.png' alt='')
						.portfolio-info
							h4 LINEプロモーションデザイン
							p 視覚デザイン
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-52.png')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-52.png' alt='')
						.portfolio-info
							h4 LINEプロモーションデザイン
							p 視覚デザイン
						.portfolio-links
							a.portfolio-lightbox(href='https://lucy.clouds-palace.com/img/portfolio/portfolio-52-1.png')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-53.png' alt='')
						.portfolio-info
							h4 LINEプロモーションデザイン
							p 視覚デザイン
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-53.png')
								span.material-icons search
				.col-lg-4.col-md-6.portfolio-item.filter-app
					.portfolio-wrap
						img.img-fluid(src='./images/portfolio/portfolio-54.jpg' alt='')
						.portfolio-info
							h4 マーケティングチャネル広告
							p 多サイズ制作
						.portfolio-links
							a.portfolio-lightbox(href='./images/portfolio/portfolio-54.jpg')
								span.material-icons search