section#portfolio-card.portfolio.section-bg
		.container
			.section-title
				h2 Project Portfolio - 印刷輸出
				.row.portfolio-container
					.col-lg-4.col-md-6.portfolio-item.filter-card
						.portfolio-wrap
							img.img-fluid(src='./images/portfolio/portfolio-45.jpg' alt='')
							.portfolio-info
								h4 名刺デザイン
								p 印刷物デザイン
							.portfolio-links
								a.portfolio-lightbox(href='./images/portfolio/portfolio-45.jpg')
									span.material-icons search
					.col-lg-4.col-md-6.portfolio-item.filter-card
						.portfolio-wrap
							img.img-fluid(src='./images/portfolio/portfolio-46.png' alt='')
							.portfolio-info
								h4 会社紹介パンフレット
								p 印刷物デザイン
							.portfolio-links
								a.portfolio-lightbox(href='./images/portfolio/portfolio-46.png')
									span.material-icons search
					.col-lg-4.col-md-6.portfolio-item.filter-card
						.portfolio-wrap
							img.img-fluid(src='./images/portfolio/portfolio-47.jpg' alt='')
							.portfolio-info
								h4 会社紹介折りたたみ式DM
								p 印刷物デザイン
							.portfolio-links
								a.portfolio-lightbox(href='./images/portfolio/portfolio-47.jpg')
									span.material-icons search
					.col-lg-4.col-md-6.portfolio-item.filter-card
						.portfolio-wrap
							img.img-fluid(src='./images/portfolio/portfolio-48.jpg' alt='')
							.portfolio-info
								h4 会社紹介パンフレット
								p 印刷物デザイン
							.portfolio-links
								a.portfolio-lightbox(href='./images/portfolio/portfolio-48.jpg')
									span.material-icons search
					.col-lg-4.col-md-6.portfolio-item.filter-card
						.portfolio-wrap
							img.img-fluid(src='./images/portfolio/portfolio-49.jpg' alt='')
							.portfolio-info
								h4 展示会プロモーションライトボックス
								p アウトプットデザイン
							.portfolio-links
								a.portfolio-lightbox(href='./images/portfolio/portfolio-49.jpg')
									span.material-icons search
					.col-lg-4.col-md-6.portfolio-item.filter-card
						.portfolio-wrap
							img.img-fluid(src='./images/portfolio/portfolio-55.png' alt='')
							.portfolio-info
								h4 展示会とウェブプロモーションDM
								p 印刷物デザイン
							.portfolio-links
								a.portfolio-lightbox(href='./images/portfolio/portfolio-55.png')
									span.material-icons search
					.col-lg-4.col-md-6.portfolio-item.filter-card
						.portfolio-wrap
							img.img-fluid(src='./images/portfolio/portfolio-56.png' alt='')
							.portfolio-info
								h4 イベント宣伝DM
								p 印刷物デザイン
							.portfolio-links
								a.portfolio-lightbox(href='./images/portfolio/portfolio-56.png')
									span.material-icons search
					.col-lg-4.col-md-6.portfolio-item.filter-card
						.portfolio-wrap
							img.img-fluid(src='./images/portfolio/portfolio-57.jpg' alt='')
							.portfolio-info
								h4 商品パッケージデザイン
								p パッケージデザイン
							.portfolio-links
								a.portfolio-lightbox(href='./images/portfolio/portfolio-57.jpg')
									span.material-icons search
					.col-lg-4.col-md-6.portfolio-item.filter-card
						.portfolio-wrap
							img.img-fluid(src='./images/portfolio/portfolio-58.jpg' alt='')
							.portfolio-info
								h4 広告宣伝DM
								p 印刷物デザイン
							.portfolio-links
								a.portfolio-lightbox(href='./images/portfolio/portfolio-58.jpg')
									span.material-icons search