section#resume.resume.section-bg
	.container
		h3.resume-title Professional Experience 職務経歴
		.row
			.col-lg-6
				.resume-item
					h4 HAPPYTUK &amp; ウェブデザイナー
					h5 2022/4 - 現在まで
					p
						| 仕事内容：
						br
						| 1.新規ゲームの事前予約広告素材およびウェブサイトのビジュアルデザイン、発売サイトのビジュアルデザインと広告素材の作成。
						br
						| 2.ゲームのオフラインイベント用展示デザイン、ゲーム関連商品の販売促進デザイン。
						br
						| 3.ゲームイベントページのUI/UXデザインおよびコーディング、ゲーム広告デザイン、動的ウェブデザイン。
						br
						| 4.HTML、CSS、jQuery、JavaScriptを使用したウェブサイトのコーディングおよび構築。
						br
						| 5.マーケティング企画、運営チーム、エンジニアとの部門間連携および協力。
				.resume-item
					h4 Newtype Games	&amp; ウェブデザイナー
					h5 2020/6 - 2022/4
					p
						| 仕事内容：ビジュアルデザイン、ゲーム広告デザイン、ゲーム映像の制作および編集。
						br
						| ※当該ゲーム部門は一般ゲーム部門と二次元アダルトゲーム部門に分かれており、私は二次元アダルトゲーム部門に所属しておりました。そのため、本企業で担当した作品の多くが18禁タイトルであることをご了承ください。
				.resume-item
					h4 泰偉電子股份有限公司（Taiwei Electronics Co., Ltd.） 	&amp; ビジュアルデザイナー
					h5 2016/12 - 2019/07
					p 
						| 仕事内容：
						br
						| 1.ビジュアルデザイン、ゲームUIデザイン、モバイルアプリ（APP）UIデザイン。
						br
						| 2.映像編集
						br
						| 各種ポスター・DMデザイン、製品パッケージデザイン、印刷物の制作・出力業務。
			.col-lg-6
				.resume-item
					h4 信安旅行社（台湾の旅行会社）	&amp; ビジュアルデザイナー
					h5 2016/04 - 2016/11
					p 
						| 仕事内容：
						br
						| ビジュアルデザイン、ゲームUIデザイン、映像編集、モバイルアプリ（APP）UIデザイン、各種ポスター・DMデザイン、製品パッケージデザイン、印刷物の制作・出力業務。
				.resume-item
					h4 綵綸視覺設計有限公司(サイロンビジュアルデザイン)	&amp;	グラフィックデザイナー
					h5 2014/04 - 2016/03
					p 
						| 仕事内容：
						br
						| 各種ポスター・DMデザイン、印刷物の制作・出力業務。
				.resume-item
					h4 康圓生物科技(コウエンバイオテクノロジー)	 &amp; デザインアシスタント
					h5 2012/8 - 2013/8
					p 
						| 仕事内容：
						br
						| 1.デザイン調整、印刷物の出力業務、一般的な文書処理・ファイリング業務。
						br
						| 2.進銷システム（正航）の操作、クライアント対応、Eメールの返信および納期確認。
						
				.resume-item
					h4 宏達法律事務所（Hongda Law Office）	&amp; 一般事務
					h5 2008/4 - 2011/12
					p 
						| 仕事内容：
						br
						| 一般的な文書資料の処理およびファイリング業務
						br
						| 庶務的な事務業務、文書の受領・発送および回覧書類の処理、
						br
						| 簡単な小口現金の管理
						br
						| 上司からの指示による業務。