//-  skills Section 
section#skills.skills.section-bg
	.container
		.section-title
			h2 Skills
			p
				| マルチメディア映像処理、モバイルアプリUI、印刷デザインの基本知識、各種カバーデザイン、カラーコーディネートデザイン、素材の識別と処理、ビジュアルデザインに関する知識、コンピューター印刷前デザイン、コンピューターレイアウトデザイン、コンピューターグラフィックソフトウェアの操作、描画ツールおよびソフトウェアの操作、描画ソフトウェアのインストール設定、商品パッケージデザインなど。
		.row.skills-content
			.col-lg-6
				.progress
					span.skill
						| Photoshop 
						i.val 95%
					.progress-bar-wrap
						.progress-bar(role='progressbar' aria-valuenow='95' aria-valuemin='0' aria-valuemax='100' style='width: 95%;')
				.progress
					span.skill
						| Illustrator 
						i.val 90%
					.progress-bar-wrap
						.progress-bar(role='progressbar' aria-valuenow='90' aria-valuemin='0' aria-valuemax='100' style='width: 90%;')
				.progress
					span.skill
						| After Effects 
						i.val 70%
					.progress-bar-wrap
						.progress-bar(role='progressbar' aria-valuenow='70' aria-valuemin='0' aria-valuemax='100' style='width: 70%;')
			.col-lg-6
				.progress
					span.skill
						| HTML &amp; CSS 
						i.val 70%
					.progress-bar-wrap
						.progress-bar(role='progressbar' aria-valuenow='70' aria-valuemin='0' aria-valuemax='100' style='width: 70%;')
				.progress
					span.skill
						| JavaScript 
						i.val 45%
					.progress-bar-wrap
						.progress-bar(role='progressbar' aria-valuenow='45' aria-valuemin='0' aria-valuemax='100' style='width: 45%;')
				.progress
					span.skill
						| Premiere 
						i.val 65%
					.progress-bar-wrap
						.progress-bar(role='progressbar' aria-valuenow='65' aria-valuemin='0' aria-valuemax='100' style='width: 65%;')