doctype html
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    title Pug + Sass + Gulp 自動化
    link(rel="stylesheet", href="./css/style.css")
  body
    include partials/header.pug
    h1 Hello, Gulp + Pug + Sass!
    include partials/footer.pug
